body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.headingpart{
    border-bottom: 2px solid #4a3b32;
    background-color: #2c241b;
    padding-top: 20px;
}

.headingpart .container{
    margin: 10px auto;
    display: flex;
    justify-self: center;
    align-items: center;
    color: #e0d0c0;;
    font-size: 2em;
    padding: 10px 130px;
    gap: 20px;
    background-color: #1a1510;
    border: 10px solid #4a3b32;
    border-radius: 60px;
}

.headingpart p{
    justify-self: center;
    color: #e0d0c0;
    font-size: 1.2em;
}

.navbar{
    background-color: #1a1510;
    display: flex;
    align-items: center;
}

.navbar a{
    font-size: 28px;
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;
}

.dropdown{
    margin-left: auto;
    overflow: hidden;
}

.dropdown .drpbtn{
    padding: 14px 16px;
    background-color: #1a1510;
    color: white;
    outline: none;
    border: none;
    font-size: 28px;
}

.dcontents{
    display: none;
    background-color: #1a1510;
    position: absolute;
    z-index: 1;
}

.navbar a:hover, .dropdown:hover .drpbtn{
    background-color: hsl(0, 1%, 18%);
}

.dropdown:hover .dcontents{
    display: flex;
    flex-direction: column;
}

.active{
    background-color: hsl(0, 1%, 18%);;
}

main{
    background-image: linear-gradient(rgba(0,0,0,0.774)), url('./images/mainimg.jpg');
    background-size: cover;
    background-position: center;
    padding: 10px;
    min-height: 700px;
    margin: 0px;
}

.dishcontainer{
    max-width: 1200px;
    margin: 40px auto;
    background-color: white;
    padding: 40px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    border-radius: 20px;
}

.dishcontainer header{
    text-align: center;
    border-bottom: 4px solid #eebb4d;
    padding-bottom: 20px;
}

.dishcontainer header h1{
    font-family: 'Georgia';
    color: #2c3e50;
    font-size: 2.5em;
}

.innermain h1{
    font-family: 'Georgia';
    color: #2c3e50;
    font-size: 2.5em;
}

.contentgrid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
}

.innermain blockquote{
    background-color:#fdf2e9;
    border-left: 8px solid #eebb4d;
    font-style: italic;
    color: #4a3b32;
    padding: 30px;
}

.innermain cite{
    color: black;
    font-weight: bold;
}


.maincont h4{
    font-size: 2em;
    align-self: start;
}

.prepsteps ol {
    list-style: none;
    counter-reset: step-counter; 
    padding: 0; 
    padding-left: 100px;
}

.prepsteps li {
    position: relative;
    padding-left: 60px; 
    margin-bottom: 25px;
    font-family: 'Tahoma', sans-serif;
    font-size: 1.2em;
    counter-increment: step-counter;

}

.maincont ul{
    padding-left: 130px;
}

.prepsteps li::before {
    content: counter(step-counter);
    position: absolute;
    left: 0;
    top: -5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #d35400;
    color: white;
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-align: center;
    line-height: 40px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}


.sidebar{
    background-color: #f8f9fa;
    padding: 30px;
    border-radius: 20px;
    border: 2px solid #eee;
}

.sidebar h4{
    color: #d35400;
    border-bottom: 1px solid#ddd;
    margin-top: 0;
    padding-bottom: 10px;
}

ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 8px;
}

.dishimage{
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.recipedetails td, .recipedetails th{
    text-align: left;
    padding: 10px;
    padding-right: 50px;
    border-bottom: 1px solid#ddd;
}

.recipedetails th{
    color: #d35400;
}

table{
    margin-left: auto;
    margin-right: auto;
}

footer{
    background-color: #2c241b;
    border-top:2px solid #4a3b32;
    padding: 20px;
}

.footercont{
    display: flex;
    justify-content: center;
    font-size: 1.3em;
    gap: 100px;
    color: #e0d0c0;
}