body{
    margin: 0px;
    background-color: #111F35;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    padding-top: 10px;
    background-color: #111F35;
}

.topfont h1{
    font-weight: 600;
    text-align: center;
    font-size: 2.2em;
    color: white;
}

.nav-bar{
    border-top: 3px solid white;
}

.nav-cont{
    display: flex;
    flex-direction: row;
    align-self: center;
    align-content: center;
    border-bottom: 3px solid white;
}

.nav-cont a{
    padding: 15px 20px;
    color:white;
    text-decoration: none;
    transition: background-color 0.5s;
}

.nav-cont a:hover{
    background-color: #F63049;
    color: white;
}

.nav-cont a:nth-child(2){
    margin-left: auto;
}

.me{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 200px;
    margin-bottom: 30px;
}

.text-me{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-me h2{
    font-weight: 200;
}

.text-me h1{
    font-size: 3em;
}

.media{
    display: flex;
    gap: 50px;
    padding: 30px;
}
.media p{
    background-color: white;
    padding: 20px 10px;
    border-radius: 50px;
}

.image-me{
    background-color: white;
    padding: 10px;
    border-radius: 50px;
}

.Projects{
    background-color: #F63049;
    padding-top: 30px;
    padding-bottom: 30px;
}

.intro-project h1{
    color: white;
    font-size: 2.4em;
    font-weight: 500;
    text-align: center;
}

.intro-project p{
    color: white;
    font-size: 1.5em;
    text-align: center;
}

.projects-cont{
    display: flex;
    justify-content: center;
    gap: 40px;
    max-width: 1200ox;
    margin: 0 auto;
}

.card{
    width: 300px;
    background-color: #111F35;
    padding: 20px 30px;
    transition: transform 0.5s;
    border-radius: 20px;
}

.card:hover{
    transform: translateY(-10px);
}

.card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card p{
    color: white;
    text-align: center;
}

.language {
    padding: 50px 20px;
}

.intro-lang h1 {
    color: white;
    text-align: center;
    font-size: 2.4em;
    font-weight: 500;
    margin-bottom: 40px;
}

.lang-cont {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1000px;
    margin: 0 auto;
}

.lang-card {
    background-color: white;
    width: 200px;
    padding: 30px 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    transition: transform 0.3s ease;
}

.lang-card:hover {
    transform: translateY(-10px);
}

.lang-card h3 {
    margin: 0;
    color: #111F35;
    font-size: 1.2em;
}


.stars {
    color: #FFD700;
    font-size: 1.1em;
}


.lang-card i.fa-3x {
    margin-bottom: 10px;
}