
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}


.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.main-header{
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0%;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 300px;
}

header {
    background-color: #222;
    color: #00d2be;
    padding: 20px;
    text-align: center;
    border-bottom: 5px solid #76b900;
}


.sidebar {
    float: left;
    width: 25%;
    background-color: #eee;
    padding: 15px;
    box-sizing: border-box; 
}


.main-content {
    float: right;
    width: 73%; 
    padding: 10px;
    box-sizing: border-box;
}


.grid-row {
    margin-top: 30px;
    border-top: 2px solid #ccc;
    padding-top: 20px;
}

.grid-item {
    float: left;
    width: 31.33%;
    margin: 1%;
    background-color: #fafafa;
    border: 1px solid #ddd;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
}


.grid-item img {
    width: 100%;
    height: auto;
}


.post-image {
    float: left; 
    width: 40%;
    margin-right: 20px;
    margin-bottom: 10px;
    border: 4px solid #333;
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #333;
    overflow: hidden;
}
nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav li a:hover {
    background-color: #111;
}


@media screen and (max-width: 768px) {
    
    .sidebar, .main-content {
        width: 100%;
        float: none;
        margin-bottom: 20px;
    }

    .grid-item {
        width: 100%;
        float: none;
        margin: 0 0 15px 0;
    }

    .post-image {
        width: 100%;
        float: none;
        margin: 0 0 15px 0;
    }
}

footer{
    background-color: #2c241b; 
    border-top: 2px solid #4a3b32;
    padding: 20px;
}

.footercont{
    display: flex;
    color: #e0d0c0;
    font-size: 1.3em;
    justify-content: center;
    align-items: center;
    gap: 100px;
}