body{
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.top-cont{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 2px solid black;
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0,0.77)), url('./images/Screenshot\ 2026-01-15\ 180713.png');
    color: white;
}

.main-top{
    padding-top: 30px;
    padding-left: 300px;
    padding-right: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-top: 3px solid white;
}

.main-top h1{
    font-size: 50px;
    font-weight: 200;
}

.main-top h2{
    font-size: 40px;
    font-weight: 100;
}

.nav-bar{
    background-color: greenyellow;
    padding: 20px 0px;
}

.nav-bar a{
    font-size: 28px;
    text-decoration: none;
    color: black;
    padding: 20px 30px;
    transition: back-ground;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.nav-bar a:hover{
    background-color: rgb(145, 143, 143);
}

.nav-bar a:nth-child(1){
    margin-left: auto;
}



