body{
    margin: 0px;
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
}

header{
    background-color: #333333;
    padding: 30px 50px;
    border-bottom: solid 3px  orange;
}

header h1{
    color: orange;
    text-align: center;
}

main{
    background-color: #F5E7C6;
    padding-top: 20px;
    padding-bottom: 20px;
}

.WHO-ME{
    display: flex;
    flex-direction: column;
    border: 10px solid #FA8112;
    justify-content: center;
    align-items: center;
    padding: 0px 100px;
    background-color: #FAF3E1;
    border-radius: 50px;
    align-self: center;
    text-align: center;
    margin: 10px auto;
    max-width: 600px;
    margin-bottom: 50px;
}

.Coding{
    background-color: #222222;
    margin-bottom: 20px;
}

.coding-cont{
    display: flex;
    padding: 50px 80px;
    gap: 80px;
}

.coding-image{
    background-color: #F5E7C6;
    padding: 20px;
    border-radius: 40px;
}

.coding-info{
    color: white;
}

.coding-info h1{
    text-align: center;
    padding-bottom: 30px;
    font-size: 3em;
    font-weight: 300;
}


.Coding, .Games, .Anime, .Studying {
    background-color: #222222;
    margin-bottom: 20px;
}


.coding-cont, .games-cont, .anime-cont, .studying-cont {
    display: flex;
    padding: 50px 80px;
    gap: 80px;
    align-items: center; 
}


.section-info {
    color: white;
    flex: 1; 
}

.section-info h1 {
    text-align: center;
    padding-bottom: 30px;
    font-size: 3em;
    font-weight: 300;
}

.section-image {
    background-color: #F5E7C6;
    padding: 20px;
    border-radius: 40px;
    flex: 1; 
    display: flex;
    justify-content: center;
}

.section-image img {
    border-radius: 50px;
    max-width: 100%;
    height: auto;
}


.reverse-layout {
    flex-direction: row-reverse;
}

@media (max-width: 900px) {
    .coding-cont, .games-cont, .anime-cont, .studying-cont {
        flex-direction: column;
        padding: 30px;
    }
    .reverse-layout {
        flex-direction: column;
    }
}


footer{
    background-color:#2c241b;
    border-top: 2px solid #4a3b32;
    padding: 20px;
}

.footercont{
    display: flex;
    color: #e0d0c0;
    font-size: 0.8em;
    justify-content: center;
    gap: 100px;
}