.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#toggleButton{
    outline: none;
    border: none;
    background-color: hsl(212, 100%, 63%);
    padding: 50px 100px;
    font-size: 3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 80px;
    color: white;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
}

#toggleButton:hover{
    background-color: hsl(212, 100%, 50%);
    cursor: pointer;
}
